@page "/new_administrator"

@using ClientWebApp.DTOs;
@using ClientWebApp.Components.Forms;
@using System.Text;
@using System.Text.Json;

@inject HttpClient Client
@inject NavigationManager NavigationManager

<div class="d-flex flex-column content text-center justify-content-center align-items-center">
    <h1 class="display-4 mt-1">New administrator</h1>
    <EditForm Model="administrator" OnValidSubmit="Execute" class="container">
        <DataAnnotationsValidator />
        <div class="row col-12 mb-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <TextInputCard DisableInput="@DisableInput" @bind-TextValue="@administrator.FirstName" Title="First Name" Label="First Name" Id="first_name" For="() => administrator.FirstName" />
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <TextInputCard DisableInput="@DisableInput" @bind-TextValue="@administrator.MiddleName" Title="Middle Name" Label="Middle Name" Id="middle_name" For="() => administrator.MiddleName" />

                    </div>
                    <div class="col-md-3 col-sm-12">
                        <TextInputCard DisableInput="@DisableInput" @bind-TextValue="@administrator.LastName" Title="Last Name" Label="Last Name" Id="last_name" For="() => administrator.LastName" />

                    </div>
                    <div class="col-md-3 col-sm-12">
                        <TextInputCard DisableInput="@DisableInput" @bind-TextValue="@administrator.Title" Title="Title" Label="Title" Id="Title" For="() => administrator.Title" />

                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12 mb-4">
            <div class="col-md-6 col-sm-12">
                <GenderFormCard DisableInput="@DisableInput" @bind-Gender="@administrator.Gender" ValidationForGender="() => administrator.Gender" />
            </div>
            <div class="col-md-6 col-sm-12">
                <DateOfBirthFormCard DisableInput="@DisableInput" @bind-DateOfBirth="@administrator.DateOfBirth" For="() => administrator.DateOfBirth" />
            </div>
        </div>
        <div class="row col-12 mb-4">
            <div class="col-12">
                <TextInputCard DisableInput="@DisableInput" @bind-TextValue="@administrator.Username" Title="Username" Label="Username" Id="username" For="() => administrator.Username" />
            </div>
        </div>
        <div class="row col-12 mb-4">
            <div class="col-md-6 col-sm-12">
                <TextInputCard DisableInput="@DisableInput" @bind-TextValue="@administrator.Email" Title="Email" Label="Email" Id="email" For="() => administrator.Email" />
            </div>
            <div class="col-md-6 col-sm-12">
                <TextInputCard DisableInput="@DisableInput" @bind-TextValue="@administrator.PhoneNumber" Title="Phone Number" Label="Phone Number" Id="phoneNumber" For="() => administrator.PhoneNumber" />
            </div>
        </div>
        <div class="row col-12 mb-4">
            <div class="col-md-12 col-sm-12">
                <TextInputCard DisableInput="@DisableInput" @bind-TextValue="@administrator.SSN" Title="Social Security Number" Label="SSN" Id="ssn" For="() => administrator.SSN" />
            </div>
        </div>
        <div class="row col-12 mb-4">
            <div class="col-md-6 col-sm-12 mb-md-0 mb-sm-3">
                <button disabled="@DisableInput" type="submit" class="btn btn-lg btn-success w-100">
                    Create new administrator
                </button>
            </div>
            <div class="col-md-6 col-sm-12 mb-md-0 mb-sm-3">
                <a disabled="@DisableInput" href="administrators" class="btn btn-lg btn-secondary w-100">
                    Discard
                </a>
            </div>
        </div>
    </EditForm>
</div>
@code {
    private UserDetailsDTO? administrator = new() { Password = null, DateOfBirth = DateOnly.FromDateTime(DateTime.Now) };
    private bool DisableInput = false;

    private async Task Execute()
    {
        DisableInput = true;
        string content = JsonSerializer.Serialize(administrator);
        StringContent bodyContent = new StringContent(content, Encoding.UTF8, "application/json");
        await Client.PostAsync("api/users/add", bodyContent);

        NavigationManager.NavigateTo("/administrators/");
    }
}
