@page "/my_prescriptions/{UUID}"
@using Blazored.LocalStorage;
@using ClientWebApp.Components.Tables
@using ClientWebApp.DTOs;
@using ClientWebApp.Features;
@using Microsoft.AspNetCore.Components.Authorization

@inject HttpClient Client
@inject ILocalStorageService localStorage

<div class="container text-center justify-content-center align-items-center mt-5">
    <h4 class="display-4 mb-5">Prescriptions</h4>

    @if (prescriptions == null)
    {
        <SpinnerLoader/>
    }
    else if (prescriptions.items.Count == 0)
    {
        <h4 class="mb-4">No prescriptions</h4>
    }
    else
    {
        <div class="row mb-3">
            <AuthorizeView Roles="DOCTOR">
                <Authorized>
                    <a href="@("new_prescription/" + UUID)" class="btn btn-primary w-100">New prescription</a>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="row mb-3">
            <PrescriptionsTable prescriptions="prescriptions.items" />
        </div>
        <div class="row col-12 mb-3 justify-content-center">
            <div class="col-1">
                <button disabled="@(!prescriptions.HasPrevious)" type="button" @onclick="GetFirst" class="btn btn-primary w-100"><div class="bi bi-chevron-double-left"></div></button>
            </div>
            <div class="col-1">
                <button disabled="@(!prescriptions.HasPrevious)" type="button" @onclick="GetPrevious" class="btn btn-primary w-100"><div class="bi bi-chevron-left"></div></button>
            </div>
            <div class="col-1">
                <button disabled="@(!prescriptions.HasNext)" type="button" @onclick="GetNext" class="btn btn-primary w-100"><div class="bi bi-chevron-right"></div></button>
            </div>
            <div class="col-1">
                <button disabled="@(!prescriptions.HasNext)" type="button" @onclick="GetLast" class="btn btn-primary w-100"><div class="bi bi-chevron-double-right"></div></button>
            </div>
        </div>
    }
</div>

@code {
    [ParameterAttribute]
    public string UUID { get; set; }

    public PaginatedResultDTO<PrescriptionDTO> prescriptions;

    private string Role;

    int currentPage = 1;
    int pageSize = 10;

    async Task GetFirst()
    {
        currentPage = 1;
        await GetPrescriptions();
    }

    async Task GetLast()
    {
        currentPage = prescriptions.TotalPages;
        await GetPrescriptions();
    }

    async Task GetPrevious()
    {
        currentPage -= 1;
        await GetPrescriptions();
    }

    async Task GetNext()
    {
        currentPage += 1;
        await GetPrescriptions();
    }

    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsStringAsync("token");
        var claims = JwtParser.ParseClaimsFromJwt(token);

        Role = claims.Single(c => c.Type.Equals("role")).Value;

        await GetPrescriptions();
    }

    private async Task GetPrescriptions()
    {
        prescriptions = null;
        if (Role.Equals("PATIENT"))
        {
            prescriptions = await Client.GetFromJsonAsync<PaginatedResultDTO<PrescriptionDTO>>("api/prescription/all?pageNumber=" + currentPage + "&pageSize=" + pageSize + "&patient=" + UUID);

        }
        else
        {
            prescriptions = await Client.GetFromJsonAsync<PaginatedResultDTO<PrescriptionDTO>>("api/prescription/all?pageNumber=" + currentPage + "&pageSize=" + pageSize + "&doctor=" + UUID);

        }
    }
}
